PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://<username>:<password>@learningcluster.6eync9d.mongodb.net/?appName=LearningCluster

# Sequelize pool
MAX_POOL=10
MIN_POOL=2
SOCKET_TIMEOUT=45000


# SMTP
MAIL_HOST=
MAIL_USER=
MAIL_PORT=
MAIL_PASS=
MAIL_FROM=